body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #65b6e9;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #dddddd;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
}
.LaVieEstBelle{
    background-color: rgb(248, 20, 172);
    color: white;
}
